@using System.Reflection
@using Microsoft.AspNetCore.Components.WebAssembly.Services
@*@using FormationBlazorApp.Components.Layout*@


@* v7
<Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="@assemblies" OnNavigateAsync="onNavigate">
*@
<Router AppAssembly="typeof(Program).Assembly" >
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    @* v7
    <NotFound>
        <PageTitle>404 Not found</PageTitle>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p class="alert-danger">Page introuvable</p>
        </LayoutView>
    </NotFound>*@
</Router>

@code{
/* v7
    private List<Assembly> assemblies = new();


    private async Task onNavigate(NavigationContext context)
    {
        if (context.Path.Contains("cars"))
        {
            var ass = new[] { typeof(CarsLibrary.Pages.AddCar).Assembly }; //await assemblyLoader.LoadAssembliesAsync(new[] { "CarsLibrary.dll" });
            assemblies.AddRange(ass);
        }
    }
    */
}
