@page "/cars"

@using CarsLibrary.Components


<h3>Les voitures</h3>

@if(cars != null)
{
    <table class="table table-dark-table-striped">
        <thead>
        <tr>
            <th scope="col">Modèle</th>
            <th scope="col">Marque</th>
            <th scope="col">Prix</th>
            <th scope="col">Date mise en cir.</th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var car in cars)
            {
                <tr>
                    <td scope="row" class="test">@car.Model</td>
                    <td><DisplayBrand BrandID="car.BrandID" /></td>
                    <td>@car.Price</td>
                    <td>@car.DateOfCirculation.ToShortDateString()</td>
                    <td><NavLink class="btn btn-secondary" href="@($"cars/detail/{car.ID}?name={car.Model}")">Voir</NavLink></td>
                    <td><button class="btn btn-secondary" @onclick="()=>delete(car)">Suppr.</button></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
